* {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

html {
  scroll-behavior: smooth;
  /*background-color: salmon;*/
}

nav {
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vw;
  /*background-color:rgba(150,205,232) ;*/
  background-color:white ;
  z-index: 100;
  /*padding-left:25vw;*/
  position:absolute;
  float: left;
  
}

.email_container {
  width: 80vw;
  height: 14vw;
  margin-top: 60vw;
  margin-left: 10vw;
  background-color: #FFBFBF;
  position: absolute;
}

.email_text {
  width: 43vw;
  height: 14vw;
  padding-left: 3vw;
  float: left;
  /*background-color: yellow;*/

}
.email_isi {
  width: 37vw;
  height: 14vw;
  margin-left: 43vw;
  float: left;
  /*background-color: cyan;*/
  position: absolute;
}

.signupbtn {
  width:10vw;
  height: 5vw;
}

.signupbtn:hover {
  width:10vw;
  height: 5vw;
  cursor: pointer;
}

button {
  background-image: url('../image/button1.jpg');
  color: white;
  /*padding: 1.5vw;*/
  /*margin-left: 0.6vw;*/
  /*margin-top: 2vw;*/
  border: none;
  cursor: pointer;
  /*width: 8.5vw;*/
  opacity: 0.9;
  border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #FFF4EF;
  color: salmon;
  outline: none;
  font-family: 'helvetica', Sans-Serif;

}

.homenav {
  width: 7vw;
  height: 7vw;
  background-image: url('../image/homenav.png');
  background-position: center center;
  background-size: cover ;
  float: left;
  cursor: pointer;
  margin-left: 15vw;
}

.homenav:hover {
  width: 7vw;
  height: 7vw;
  background-image: url('../image/homenav2.png');
  background-position: center center;
  background-size: cover ;
  float: left;
  cursor: pointer;
  margin-left: 15vw;
}

.menunav {
  width: 5vw;
  height: 5vw;
  float: left;
  margin-left: 14vw;
  padding-top: 1vw;
  background-color: white;
}

.sidebar {
	/*float:right;*/
	width:275px;
}

.background {
  width: 100vw;
  height: 115vw;
  background-image: url('../image/wallpaper1.jpg');
  background-size: contain;
  background-position: center center;
  /*background-repeat: no-repeat;*/
  float: left;
  
}


.backgrounddua {
  width: 100vw;
  height: 30vw;
  background-image: url('../image/wallpaper 2.jpg');
  background-size: contain;
  background-position: center center;
  /*background-repeat: no-repeat;*/
  float: left;
}

.descriptionme {
  width: 47vw;
  height: 32vw;
  margin-top: 6vw;
  margin-left: 48vw;
  background: rgba(255, 255, 255, 0.5);
  display: block;
}

.titleme {
  width: 100vw;
  height: 3vw;
  margin-top: 1vw;
  /*background-color: cyan;*/
  margin-bottom: 1vw;
  /*display: block;*/
  float: left;
}

.dogimage {
  width: 40vw;
  height: 3vw;
  margin-top: 1vw;
  margin-left: 5vw;
  background-color: cyan;
  margin-bottom: 2vw;
  /*display: block;*/
  float: left;
}


.anjinginfocorgi {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/dog6.jpg');
  background-size: cover;
  display: none;
  /*background-color: cyan;*/
}

.anjinginfopoodle {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/dog10.jpg');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}

.anjinginfopitbull {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/dog12.jpg');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}

.anjinginfobury {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/dog18.png');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}


.anjinginfodown {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/dog19.jpg');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}

.anjinginfostay {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/anjing.jpg');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}

.anjinginfodental {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/anjing1.jpg');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}

.anjinginfoneos {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/dog32.jpg');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}

.anjinginfoanemia {
  width: 100vw;
  height: 50vw;
  float: left;
  background-image: url('../image/dog36.jpg');
  background-size: cover;
  display: none;
  /*background-color: yellow;*/
}
.filmone:hover {
  cursor: pointer;
}

.slideshow_home {
  margin-top: 10vw;
  margin-left: 3vw;
  width: 60vw;
  height: 40vw;
  /*background-color: red;*/
  background-size: cover;
  position: absolute;
  float: left;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

* {box-sizing:border-box}

/* Slideshow container */
/*.slideshow-container {*/
/*  max-width: 1000px;*/
/*  position: relative;*/
/*  margin: auto;*/
/*}*/

/* Hide the images by default */
.mySlides {
  display: none;
   background-size: cover;
   position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  /*position: absolute;*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  background-size: cover;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.background3{
  width: 100vw;
  height:33vw;
  background-image: url('../image/wallpaper3.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.trending {
  width: 100%;
  height: 5vh;
  background-color: transparent;
  display: block;
}

.boxsatu {
  width: 100%;
  height: 42vh;
  margin-top: 20;
  background-color: transparent;
  display: block;
}
.boxdua {
  width: 297px;
  height: 50vh;
  margin-top: 10px;
  margin-left: 609px;
  background-color: rgba(167,194,203);
  display: block;
}

.artikelx {
  width: 100%;
  height: 35vh;
  margin-left:0vw;
  margin-right:30vw;
  margin-top :0;
  background-color: transparent;
  display: block;
}

.artikel1 {
  width: 45%;
  height:100%;
  margin-right: 2%;
  background-image: url('../image/dog1.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikel2 {
  width: 23%;
  height: 100%;
  background-image: url('../image/dog2.jpg');
  margin-right: 200px;
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}
 .caption {
   width : 45% ;
   height : 8.2vh ;
   margin-top: -5%;
   margin-bottom: 20;
   background-color: rgba(167,194,203);
   display: block;
 }

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.background2{
  width: 32vw;
  height:45vw;
  margin-left: 5vw;
  /*padding-top: 50vw;*/
  margin-top: 10vw;
  margin-left: 65vw;
  /*margin-left: -70px;*/
  /*background-image: url('../image/wallpaper2.jpg');*/
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-color: red;*/
  /*float: left;*/
  position: absolute;
}
 
.sidebar {
	/*float:right;*/
	margin-left: 5vw;
	width:22vw;
	/*margin-right: 100px;*/
	margin-top: 5vw;
	/*background-color: cyan;*/
}
 
.sidebar .widget {
	padding:3vw;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}
 
.sidebar .widget:hover {
	border-bottom: 7px solid #3498db;
}
 
.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:skyblue ;
	font-size: 23px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .widget p {
	font-size: 15px;
	
}
 
.sidebar .widget p:last-child {
	margin:0;

}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.trending {
  width: 100%;
  height: 4vh;
  background-color: transparent;
  display: block;
}
.artikeljs {
  width: 100%;
  height: 45vh;
  background-color: transparent;
  display: block;
}

.filmone {
  width: 100%;
  height: 45vh;
  margin-top: 20;
  background-color: transparent;
  display: block;
}

.artikelposter {
  width: 30%;
  height: 100%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  background-image: url('../image/dog3.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter1 {
  width: 30%;
  height: 100%;
  margin-right: 2.5%;
  background-image: url('../image/dog4.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter2 {
  width: 30%;
  height: 100%;
  margin-right: 2.5%;
  background-image: url('../image/dog5.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter3 {
  width: 30%;
  height: 100%;
  margin-left: 2.5%;
  background-image: url('../image/dog13.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter4 {
  width: 30%;
  height: 100%;
  margin-left: 2.5%;
  background-image: url('../image/dog15.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter5 {
  width: 30%;
  height: 100%;
  margin-left: 2.5%;
  background-image: url('../image/dog16.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter6 {
  width: 30%;
  height: 100%;
  margin-left: 2.5%;
  background-image: url('../image/dog24.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter7 {
  width: 30%;
  height: 100%;
  margin-left: 2.5%;
  background-image: url('../image/dog30.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

.artikelposter8 {
  width: 30%;
  height: 100%;
  margin-left : 2.5%;
  background-image: url('../image/dog34.jpg');
  background-size: cover;
  background-position: center;
  float: left;
  text-align: center;
}

}
.bgputih {
  width: 100%;
  height: 100vh;
  background-image:url('../image/wallpaper6.jpg');
  background-size: cover;
  display: none;
}

.judul {
  width: 500px;
  height: 200px;
  background-color: yellow;
  display: block;
}

.judul2 {
  width: 50%;
  height: 30%;
  padding-left : 35vw;
  margin-top: 10vh;
  background-color: transparent;
  display: block;
}

.description {
  width: 70%;
  height: 20%;
  background-color:black;
  display: block;
}
.title {
  width : 100%;
  height: 55px;
  margin-left: -3vw;
  margin-top: 10vh;
  background-color : orange;
  display : block ;
}
.name {
  width : 100%;
  height: 55px;
  margin-top: 20vh;
  background-color : transparent;
  display : block ;
}
.deskripsi {
  width: 49%;
  height: 150px;
  margin-top: 5vh;
  float : right ;
  background-color : transparent;
  display : block ;

}
.breed {
  width: 40%;
  height: 150px;
  float : right ;
  background-color :transparent;
  display : block ;
}

.text {
  width: 70%;
  height: 20%;
  margin-top: 2vh;
  margin-left : 12vw;
  background-color:transparent;
  display: block;
}

.secondcard_dogbreed {
  width: 100vw;
  height: 50vw;
  top: 50vw;
  /*margin: 0%;*/
  /*background-color: red;*/
  z-index : 700;
  position: absolute;
  /*opacity: 0.4;*/
  display: none;
  
}
